# OSX
#
.DS_Store

# WebStorm
#
.idea
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# project
.editorconfig
.gitignore
.flowconfig
.watchmanconfig

Examples
*.ts
*.tsx
*.js.map
!*.d.ts
